body{
    font-family: 'Vujahday Script', cursive;
    padding: 0px;
}
.heading_1{
    font-size: 60px;
}
.color{
    color: crimson;
}
.border-line{
    border-left: 4px solid crimson;
}
.font-size{
    font-size: 22px;
}
.part-1{
    display: flex;
    margin-bottom: 15px;
}
.half{
    width: 50%;
padding-left: 5%;    
}
.half img{
    width: 70%;
}
.linkedin-button{
    font-size: 25px;
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 255, 42) rgb(214, 13, 13));
    background-color: rgb(228, 185, 67);
    padding: 10px 30px;
    border-radius: 4px;
    color: darkred;
    font-weight: 900;
}
.heading-align{
    text-align: center;
}
.part-2{
    display: flex;
}
.half-2{
    width: 30%;
    padding-left: 5%;
}
.half-2 img{
    width: 40%;
}
.make-bold{
    font-weight: 900;
}
#box-1{
    box-shadow: 8px 5px 15px rgb(62, 240, 8);
    width: 40%;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 8px;
}
#box-2{
    box-shadow: 8px 5px 15px gold;
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 8px;
}
#box-3{
    box-shadow: 8px 5px 15px rgb(70, 2, 2);
    width: 40%;
    margin-left: 2%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 8px;
}
.back-banner{
    margin-top: 45px;
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.part-3{
    display: flex;
    margin-bottom: 60px;
    margin-top: 20px;
}
.half-3{
    width: 50%;
    padding-left: 5%;
}
.half-3 img{
    width: 70%;
}
.banner-4{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-right: 0;
}
.final-section{
    background-color: black;
    color: white;
    padding-left: 35px;
    margin: 0;
    padding-bottom: 3%;
}
.part-5{
    display: flex;
    padding-left: 8%;
    width: 50%;
    align-content: left;
}
#last-part1{
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    padding-right: 70%;
}
#last-part2{
    border-top: solid;
    border-bottom: solid;
    padding-left: 20%;
    padding-right: 35%;
}
.final-anchor{
    font-size: 35px;
    color: white;
    
}
.footer{
    padding-top: 15px;
}